@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 30px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      margin-right: 90px;
    }

    h1 {
      color: #404040;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1%;
      font-weight: 500;
    }
  }
}
