.root {
  position: relative;
}

.input {
  border: 1px solid rgba(13, 45, 74, 0.1);
  padding: 12px 20px;
  padding-left: 40px;
  width: 400px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(13, 45, 74, 0.2);
  }
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 12px;
  opacity: 0.3;
}

.clearIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0.3;
  right: 15px;
  top: 15px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
