$black: rgb(13, 45, 74);
//$black: #232323;
//$background: #ffdf8c;
$background: #f5f7fa;
$gray-line: #f6f6f6;
//$orange: #fe5f1e;

$gray: #f5f7fa;
$blue: #50c1e9;
$lightblue: #b2dff7;
$darkblue: #2d7dbc;
$mint: #5be7c4;

$container-width: 90%;

$duration: 0.15s;
